<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServCategoria</servlet-name>
        <servlet-class>Servlets.ServCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPuesto</servlet-name>
        <servlet-class>Servlets.ServPuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServFormaPago</servlet-name>
        <servlet-class>Servlets.ServFormaPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEmpleado</servlet-name>
        <servlet-class>Servlets.ServEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServMarca</servlet-name>
        <servlet-class>Servlets.ServMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServProveedor</servlet-name>
        <servlet-class>Servlets.ServProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServProducto</servlet-name>
        <servlet-class>Servlets.ServProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServVenta</servlet-name>
        <servlet-class>Servlets.ServVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCliente</servlet-name>
        <servlet-class>Servlets.ServCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServDetalle</servlet-name>
        <servlet-class>Servlets.ServDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCaja</servlet-name>
        <servlet-class>Servlets.ServCaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServListado</servlet-name>
        <servlet-class>Servlets.ServListado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPedidos</servlet-name>
        <servlet-class>Servlets.ServPedidos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServCategoria</servlet-name>
        <url-pattern>/ServCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPuesto</servlet-name>
        <url-pattern>/ServPuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServFormaPago</servlet-name>
        <url-pattern>/ServFormaPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEmpleado</servlet-name>
        <url-pattern>/ServEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServMarca</servlet-name>
        <url-pattern>/ServMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServProveedor</servlet-name>
        <url-pattern>/ServProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServProducto</servlet-name>
        <url-pattern>/ServProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServVenta</servlet-name>
        <url-pattern>/ServVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCliente</servlet-name>
        <url-pattern>/ServCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServDetalle</servlet-name>
        <url-pattern>/ServDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCaja</servlet-name>
        <url-pattern>/ServCaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServListado</servlet-name>
        <url-pattern>/ServListado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPedidos</servlet-name>
        <url-pattern>/ServPedidos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
